%h1 Edit Profile

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for:
        = resource.unconfirmed_email

    - if current_user.avatar.url.present?
      = image_tag(current_user.avatar.url)
      = f.label :remove_avatar do
        = f.check_box :remove_avatar

    = f.file_field :avatar
    = f.hidden_field :avatar_cache
    = f.input :first_name
    = f.input :last_name
    = f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: 'we need your current password to confirm your changes', required: true
    = f.button :submit, 'Update'

%h3 Cancel my account

%p
  Unhappy?
  = link_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure?' }, method: :delete

= link_to 'Back', :back
