.page-header
  %h1
    = AppConstants::APP_NAME
    %small User Ranks


%table.table.table-hover
  %thead
    %tr
      %th Rank Name
      %th Level
      %th User Count
      %th Operations
  %tbody
    - @userranks.each do |rank|
      %tr
        %th
          = link_to rank.name, user_rank_path(rank)
        %th
          = rank.level

        %th
          Not implemented yet

        %th
          = link_to edit_user_rank_path(rank), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-adjust
            Edit
          = link_to root_path, class: 'btn btn-danger' do
            %i.glyphicon.glyphicon-exclamation-sign
            Remove

%hr
.btn-group
  = link_to root_path, class: 'btn btn-warning' do
    %i.glyphicon.glyphicon-circle-arrow-left
    Back to Dashboard

  = link_to new_user_rank_path, class: 'btn btn-primary' do
    %i.glyphicon.glyphicon-plus-sign
    Create new UserRank