.comment
  .row
    .col-md-2.post-user
      = image_tag(comment.user.avatar.url, :class => 'img-thumbnail img-post')


      %p= link_to comment.user.username, user_path(comment.user)
      %p= comment.user.posts.count

      - if current_user == comment.user
        = link_to 'Edit',
               edit_post_comment_path(comment.post, comment)
        = link_to 'Delete', [comment.post, comment],
               method:  :delete, data: {confirm: 'Are you sure?'}
    .col-md-10
      %p= markdown(comment.comment)

      %small
        = time_ago_in_words(comment.created_at)
        ago by
        = comment.user.username

%hr