.page-header
  %h1
    Furious Legion
    %small Dashboard


= render :partial => 'home/userbar'

.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title Announcements

      .panel-body
        %h2 Beta out now!
        %p sdadadasdasdasdsa

        %hr

        %h2 Alpha released!
        %p sdasdasdas

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Recent Posts

      .panel-body
        -@latestPosts.each do |post|
          = link_to post.title, post_path(post)
          by
          =post.user.username
          =time_ago_in_words(post.created_at)
          ago
      .panel-footer
        .btn-block
          = link_to 'View all new posts', posts_path

    .panel.panel-default
      .panel-heading
        %h3.panel-title Latest Users

      .panel-body
        -@latestUsers.each do |user|
          %p
            = user.username
            registered
            = time_ago_in_words(user.created_at)
            ago

    .panel.panel-default
      .panel-heading
        %h3.panel-title Chat

      .panel-body
        hii

      .panel-footer
        .input-group
          %input#btn-input.form-control.input-sm{:type=>'text', :required => true, :placeholder => 'Type your message here'}
          %span.input-group-btn
            %btn.btn.btn-warning.btn-sm Send

