.col-md-4
  = simple_form_for @post do |f|
    = f.input :title, required: true, :placeholder => 'Topic', autofocus: true
    = f.input :content, required: true, :placeholder => 'What would you like to talk about?', :input_html => {:rows => 10}
    = f.association :category, required: true, :collection => Category.all, include_blank: false
    = f.submit :class => 'btn btn-primary'