.panel.panel-default

  .panel-body
    %h2= @post.title
    %p= @post.content

    %small
      = time_ago_in_words(@post.created_at)
      ago by
      = @post.user.username

    = link_to 'Edit', edit_post_path(@post)

    = link_to 'Delete', post_path(@post),
                 method: :delete,
                 data: { confirm: 'Are you sure?' }


    %hr
    = render @post.comments

  .panel-footer
    %h3 Reply to thread
    = render 'comments/form'