.page-header
  %h1
    Forum
    %small= @category.name

%table.table.table-hover
  %thead
    %tr
      %th Topic
      %th Created by
      %th Replies
      %th Latest reply
      %th Date created
  %tbody
    - @posts.each do |post|
      %tr
        %th
          = link_to post.title, post_path(post)
        %th
          = post.user.username
        %th
          = post.comments.all.count
        %th
          - if post.comments.count > 0
            = time_ago_in_words(post.comments.last.created_at)
            ago
        %th
          = post.created_at

%hr
.btn-group

  = link_to categories_path, class: 'btn btn-warning' do
    %i.glyphicon.glyphicon-circle-arrow-left
    Back to categories


  = link_to new_post_path, class: 'btn btn-primary' do
    %i.glyphicon.glyphicon-plus
    New Post