#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to 'Furious Legion', root_path
      %li
        = link_to 'Forum', categories_path

      %li
        = link_to 'Donate', root_path

      %li
        = link_to 'About', root_path
      %li
        = link_to 'Contact', root_path